<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

        <form action="/login" method="get">

            <table>
                <p1 style="text-decoration-color: blue">LOGIN</p1>
                <tr>
                    <td>Username:</td>
                    <td><input type="text" name="username" placeholder="Enter username"/></td>
                </tr>

                <tr>
                    <td>Password:</td>
                    <td><input type="password" name="password" placeholder="Enter password"/></td>
                </tr>
                <tr>
                    <td colspan="2"><button>Login</button></td>
                </tr>
            </table>
            <a href="signup.html">Sign up if you don't have account</a>

        </form>

</body>
</html>